*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
h1{
  font-size: 3rem;
}
img{
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}
h3{
  margin: 1rem 0;
}
section{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2rem;
  padding: 3rem;
}
article{
  margin: 10px;
  padding: 10px;
  border: 5px solid black;
  border-radius: .6rem;
  transition: all .3s;
  background: #444;
  color: white;
}
article:hover{
  transform: scale(1.1);
}
button{
  background: red;
  color: white;
  padding: .6rem;
  cursor: pointer;
  border: none;
  border-radius: .6rem;
  transition: all .3s;
}
button:hover{
  background: orange;
}
input{
  width: 250px;
  padding: 5px 0;
  border-radius: 10px;
}
input:hover{
  background-color:bisque;
}
.filterSearch{
  margin: 5px;
  padding: 10px;
}
select{
    width: 165px;
    border-radius: 10px;
    background-color: gainsboro;
}
option{
  padding: 10px;
}
.refresh-btn{
  background-color: darkgreen;
  padding: .3rem;
  margin-left: 20px;
}
@media screen and (max-width: 992px) {
    section {
        grid-template-columns: auto auto auto;
    }
}
@media screen and (max-width: 768px) {
    section {
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 576px) {
    section {
        grid-template-columns: auto;
    }
}